@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>

<div>
    <form method="post" accept-charset="utf-8">
        <div>
            <label>@ViewData["Message"]</label>
            <label for="email" class="form_elem">Email</label>
            <input type="text" name="email" id="email" class="form_elem" placeholder="Enter Email" required>
            <label for="password" class="form_elem">Password</label>
            <input type="password" name="password" id="password" class="form_elem" placeholder="Enter Password" required>

            <button type="submit">Register</button>
        </div>
    </form>
</div>